<h1><%= @user.name %>のページ　mail:<%= @user.email %></h1>


<h3>Favorite Lists</h3>

<div class="container">

  <div class="row">
    <% @favorite_blogs.each do |favorites_blog| %>
      <div class="col-xs-12 col-md-6 blog-panel">
        <p>投稿者名：<%= favorites_blog.user.name %></p>
        <p><%= favorites_blog.content %></p>
      </div>

    <% end %>
  </div>
</div>
